html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
	line-height: 60px;
}

.hidden {
	display: none;
}

.badge-primary {
	background-color: #337ab7;
}

.cart-total {
	font-weight: bold;
	font-size: 3rem;
	text-align: right;
}

a.link-back {
	font-size: 2rem;
}

div.row.buffer-top {
	margin-top: 20px;
}